apiVersion: apps/v1
kind: Deployment
metadata:
  name: create-user-api
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: create-user-api
  template:
    metadata:
      labels:
        app: create-user-api
    spec:
      containers:
        - name: api
          image: ghcr.io/leanjperalta/python-create-user-api:66dd7a6a6f8e65c3d3b35ccb111665dc0273e2cb
          ports:
            - containerPort: 8000
              protocol: TCP
          env:
            - name: LP_PASS
              valueFrom:
                secretKeyRef:
                  name: api-secrets
                  key: lp_pass
            - name: DDS_PASS
              valueFrom:
                secretKeyRef:
                  name: api-secrets
                  key: dds_pass
          livenessProbe:
            httpGet:
              path: /docs
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /docs
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 5
            failureThreshold: 5
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
